* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1669394962540-eb2253ec5572?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
    background-size: cover;
    background-position: center;
}
#black{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.297);
}

#content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}

#content h1{
    font-size: 50px;
    font-family: gilroy;
    font-weight: 400;
    margin-bottom: 20px;
}
#content button{
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

#content button:hover{
    background-color: #fff;
    color: #000;
}